*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

.c-body{
    margin: 0 auto;
}

.c-header{
    font-size: 26px;
    background: #9048af;
    color: #ffffff;
    text-align: center;
    padding: 25px;
    line-height: 2;
}

.c-txt__sug{
    border-radius: 5px;
    padding: 10px;
    color: #7c7c7c;
    width: 400px;
    height: 100px;
}

.c-suggestions{
    margin: 0 auto;
    padding: 30px 0;
    background: #e0e1e2;
    min-height: 50vh;
}

.c-sug__tot{
    margin: 0;

}

.c-sug-__items{
    margin: 0 auto;
    padding:30px;
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    width: 500px;
    border-bottom: 1px solid #c9c9c9;
}

.c-votes{
    margin: 20px;
}