* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.c-body {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	margin: 0 auto;
    background: #ffffff
}

.c-option{
	
	display: flex;
	padding: 20px;
}

.c-span{
	margin-left: 30px;
	font-size: 20px;
	font-weight: bold;
}

.toggle {
	opacity: 0;
	position: absolute;	
}

.label {
	background-color: #7c7c7c;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
    box-shadow: 3px 3px 10px rgba( 0, 0, 0, 0.35);    

}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: center;
	top: 10px;
	left: 10px;
	height: 15px;
	width: 15px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.toggle:checked + .label .ball {
	transform: translateX(24px);
}
