* {
	box-sizing: border-box;
}

.c-body {
	background-color: #fafafa;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	transition: background 0.2s linear;
    background: #ffffff
}

.c-body.thema {
	background: #000000;

}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #7c7c7c;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
    box-shadow: 3px 3px 10px rgba( 0, 0, 0, 0.35);    

}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: center;
	top: 10px;
	left: 10px;
	height: 15px;
	width: 15px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}
